@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: #eeeceb;
}

.header {
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;
}

.inner_header {
    width: 1700px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo {
    height: 100%;
    display: table;
    float: left;
}

.logo h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 200;
}

.logo h1 span {
    font-weight: 800;
}

.navi {
    float: right;
    height: 100%;
}

.navi a {
    height: 100%;
    display: table;
    float: left;
    padding: 15px;
    color: #EEECEB;
}

.navi li:last-child {
    padding-right: 0;
}

.navi a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    cursor: pointer;
}



/*Slider*/

.container {
    width: 100%;
}

.carousel {
    border: 2px solid #101010;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.slider {
    height: 100%;
    display: flex;
    width: 400%;
    border: 2px solid #101010;
    transition: all 0.3s;
}

.slider img {
    width: 100%;
    height: 100%;
}

.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 30px;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}



/*Categoria - Icons*/

.categorias {
    text-align: center;
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icones img {
    border-radius: 90%;
    display: inline;
    justify-content: space-around;
    padding: 30px;
    cursor: pointer;
}



/* Catalogo de produto*/

h4{
    text-align: center;
    font-size: 30px;
}
.produtos {
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalogo {
    border-radius: 20px;
    width: 340px;
    height: 400px;
    background: #101010;
    padding: 30px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.catalogo p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.produtos .catalogo img {
    max-width: 80%;
    margin: auto;
    display: flex;
    transition: 0.5s;
}

.catalogo:hover  img {
    max-width: 70%;
}

.produtos .contentBx {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.produtos .contentBx h3 {
    font-size: 18px;
    color: #EEECEB;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.produtos .contentBx .preço {
    font-size: 24px;
    color: #EEECEB;
    font-weight: 500;
    letter-spacing: 1px;
    margin: auto;
}

.catalogo .contentBx .compra {
    position: relative;
    padding: 10px 30px;
    color: #EEECEB;
    text-decoration: none;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    top:200px;
    
}

.catalogo:hover .contentBx .compra {
    top: 0px;
    opacity: 1;
}





/* Footer*/

footer {
    position: relative;
    background: #101010;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
}

footer .content {
    max-width: 1700px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
    cursor: pointer;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #E1306C;
}

.top .media-icons a:nth-child(2):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: red;
}

.top .media-icons a:nth-child(3):hover {
    color: red;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: whitesmoke;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #101010;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #101010;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: #101010;
}

footer .bottom-details .bottom_text {
    max-width: 1700px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }
    .content .top .logo-details {
        font-size: 26px;
    }
    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }
    footer .content .top {
        flex-direction: column;
    }
    .content .top .media-icons {
        margin-top: 16px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 100%;
    }
}